{% load staticfiles %}

<section class="section-main bg padding-y-sm">
        <div class="container">
            <div class='col-lg-4 col-md-6 col-sm-8 col-10'>
                <h5>Ops!!! </h5>
            </div>
            
            <div class="card-banner col-lg-4 col-md-6 col-sm-8 col-10 mx-auto">
                <div class="card-body" style="height:350px; background-image: url({% static 'images/banners/ops.jpg' %});"> </div>
            <div class="text-bottom"><h5 class="title">No Products Here Yet</h5></div>
        </div>
        
</section> 