<div class="col-md-12 col-sm-3">
    <figure class="item border-bottom mb-3">
        <a href="{{ instance.get_absolute_url }}" class="img-wrap">
         {% if instance.image %}
            <img src="{{instance.image.url}}" class="img-md"></a>
        {% endif %}
        <figcaption class="info-wrap">
            <a href="{{ instance.get_absolute_url }}" class="title">{{instance.title}}</a>
            <div class="price-wrap mb-3">
                <span class="price-new">₦{{instance.price}}</span>
                {% if instance.old_price and instance.old_price > instance.price %}
                 <del class="price-old">₦{{instance.old_price}}</del>
                {% endif %}
            </div> <!-- price-wrap.// -->
        </figcaption>
    </figure> <!-- card-product // -->
</div> <!-- col.// -->