
<form method=GET action="{% url 'search:search-query' %}" class="form-inline my-2 my-lg-0 search-form" role="search">
  <div class="input-group w-100">
    <input class="form-control py-2 border-right-0 border" style="width:50%;" type="search" placeholder="Search" name="q"
        value="{{ request.GET.q }}" aria-label="Search"id="example-search-input">
    <span class="input-group-append">
         
          <button class="btn btn-primary my-2 my-sm-0" type="submit">
              <i class="fa fa-search"></i> Search</button>
    </span>
  </div>
</form>

