#slideshow{
    height: 100%;
    width: 100%;
    overflow: hidden;
  
  }
  #slideshow img {
    height: 100%;
    width: 100%;
  }
  
  @media (max-width: 1201px){
    #slideshow img{  
      position: absolute;
      height: 1300px;
      width: auto;
      -webkit-transform: translate(-45%,0%);
          -ms-transform: translate(-45%,0%);
              transform: translate(-45%,0%);
    
    
    }
  }
  
  @media (max-width: 800px) {
    #slideshow img{  
      position: absolute;
      height: 950px;
      width: auto;
      -webkit-transform: translate(-45%,0%);
          -ms-transform: translate(-45%,0%);
              transform: translate(-45%,0%);
    
    
    }
  }
  
  @media (max-width: 500px) {
    #slideshow img{  
      position: absolute;
      left: 45%;
      height: 650px;
      width: auto;
      -webkit-transform: translate(-45%,-0%);
          -ms-transform: translate(-45%,-0%);
              transform: translate(-45%,-0%);
    
    
    
    }
  }
  
  @media (max-width: 400px) {
    #slideshow img{  
    position: absolute;
    left: 45%;
    height: 680px;
    width: auto;
    -webkit-transform: translate(-50%,-0%);
        -ms-transform: translate(-50%,-0%);
            transform: translate(-50%,-0%);
  
    
    }
  }
  
  @media (max-width: 350px) {
    #slideshow img{  
    position: absolute;
    left: 45%;
    height: 600px;
    width: auto;
    -webkit-transform: translate(-51%,-0%);
        -ms-transform: translate(-51%,-0%);
            transform: translate(-51%,-0%);
  
    
    }
  }


.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}