{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block style %}
    <link href='{% static "css/search_list.css" %}' rel="stylesheet">
{% endblock %}


   {% block content %}

        <div class="container">

            
            <div class='row  mb-3'>
                    {% if query  %}
                        <div class='col-12' >
                            Results for <b>{{ query }}</b>
                            <hr/>
                        </div>
                        
                    {% else %}
                        <!-- <div class='col-8 mx-auto'>
                            

                        </div> -->
                    {% endif %}
            </div>
            
            
            <div class='row no-gutter'>

                {% if object_list %}
            
        
                    {% for obj in object_list %}
                        <div class='col-lg-3 col-md-4 col-sm-6 col-6'>
                            {% include 'products/snippet/card.html' with instance=obj %}  
                        </div>

                    {% endfor %}
                {% else %}
                    <div class='col-12 col-md-6 mx-auto py-5'>
                        <h5>Ops!!! No result</h5>

                        <hr>

                        <img src="{% static 'images/banners/ops.jpg' %}"/>

                        
                    </div>
                {% endif %}

                
            </div>

        </div>

        
    {% endblock %}