{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block style %}
    <link href='{% static "css/search_list.css" %}' rel="stylesheet">
{% endblock %}


   {% block content %}

        <section class="section-main bg padding-y-sm">

            <div class="container">

                
                <div class='row  mb-3'>
                        {% if query  %}
                            <div class='col-12' >
                                <br/>
                                Results for <b>{{ query }}</b>
                                <hr/>
                            </div>
                            
                        {% else %}
                            <!-- <div class='col-8 mx-auto'>
                                

                            </div> -->
                        {% endif %}
                </div>
                

            </div>
        </section>

        <section class="section-main bg padding-y-sm">
            

                <div class="container">
                    {% if object_list %}
                        <div class="row">
                            
                            <aside class="col-sm-3">
            
                                    <div class="card card-filter">
                                        
                                            <article class="card-group-item">
                                                <header class="card-header">
                                                    <a href="#" data-toggle="collapse" data-target="#collapse44">
                                                        <i class="icon-action fa fa-chevron-down"></i>
                                                        <h6 class="title">By Feature </h6>
                                                    </a>
                                                </header>
                                                <div class="filter-content collapse show" id="collapse44">
                                                    <div class="card-body">
                                                        <form>
                                                            <label class="form-check">
                                                                <!-- <input class="form-check-input" value="" type="checkbox">
                                                                <span class="form-check-label">
                                                                    <span class="float-right badge badge-light round">5</span>
                                                                    Samsung
                                                                </span> -->
                                                            </label> <!-- form-check.// -->
                                                            <!-- <label class="form-check">
                                                                <input class="form-check-input" value="" type="checkbox">
                                                                <span class="form-check-label">
                                                                    <span class="float-right badge badge-light round">13</span>
                                                                    Mersedes Benz
                                                                </span>
                                                            </label> form-check.// -->
                                                            
                                                            <!-- form-check.// -->
                                                        </form>
                                                    </div> <!-- card-body.// -->
                                                </div> <!-- collapse .// -->
                                            </article> <!-- card-group-item.// -->
                                    
                                            <article class="card-group-item">
                                                    <header class="card-header">
                                                        <a href="#" data-toggle="collapse" data-target="#collapse33">
                                                            <i class="icon-action fa fa-chevron-down"></i>
                                                            <h6 class="title">By Price </h6>
                                                        </a>
                                                    </header>
                                                    <div class="filter-content collapse show" id="collapse33">
                                                        <div class="card-body">
                                                            <input type="range" class="custom-range" min="0" max="100" name="">
                                                            <div class="form-row">
                                                                <div class="form-group col-md-6">
                                                                    <label>Min</label>
                                                                    <input class="form-control" placeholder="₦0" type="number">
                                                                </div>
                                                                <div class="form-group text-right col-md-6">
                                                                    <label>Max</label>
                                                                    <input class="form-control" placeholder="₦100,0000" type="number">
                                                                </div>
                                                            </div> <!-- form-row.// -->
                                                            <button class="btn btn-block btn-outline-primary">Apply</button>
                                                        </div> <!-- card-body.// -->
                                                    </div> <!-- collapse .// -->
                                                </article> <!-- card-group-item.// -->
                                        </div> <!-- card.// -->
            
            
                            </aside> <!-- col.// -->
                            
            
                            
                            
                            <main class="col-sm-9">
            
                                <div class="row-sm">
                                        
                                
                                    {% for obj in object_list %}
                                        {% include 'products/snippet/card.html' with instance=obj %}  
                                    {% endfor %}
                                        
                                        
                                </div>
                                    
                                <br>
                                {% include 'products/snippet/paginator.html' with paginate=object_list %}
                              
                            
         
                            
                            </main> <!-- col.// -->
                        </div>
                    {% else %}  
                        {% include 'products/snippet/error.html' %} 
                    {% endif %} 


                </div>
            </section>
        

        
    {% endblock %}