{% extends "base.html" %} 
    {% load staticfiles %} {% block content %}
    {% block style %}
        <link href='{% static "css/index.css" %}' rel="stylesheet">
    {% endblock %}

    <div class="container" >
        <!-- ========================= SECTION MAIN ========================= -->
        <section class="section-main bg padding-y-sm">
            <div class="container">
                <div class="card">

                    <div class="card-banner" style="height:500px; widows: 100%; background-image:url({% static 'images/banners/ops.jpg' %});
                                height: 500px;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: cover;
                                position: relative;">
                        <article class="overlay top text-center">
                            <h5 class="title mb-0">Error 500, Server error</h5>
                            <p></p>>
                        </article>
                    </div> <!-- card.// -->
                </div>
            </div>
        </section>
    </div>
  
{% endblock %}