<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Bootstrap-ecommerce by Vosidiy">

    <title>ZeeMart</title>


    {% load staticfiles %} {% load static %}

    {% include 'base/css.html' %}
    
    {% include 'base/js.html' %}

    <!--<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="crossorigin="anonymous" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js" />
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous" /> -->


    


</head>


<body>

    {% url 'product:product-view' as product_url %}
    <header class="section-header">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img class="logo" src="images/logos/logo-alibaba.png" alt="ZeeMart" title="ZeeMart">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop" aria-controls="navbarTop" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTop">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"> Sourcing </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="#">Top Suppliers</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Suppliers by Regions </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Online Retailer </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"> Services </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="#">Trade Assurance </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Arabic</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Logistics Service </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Membership Services</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"> Community </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="#">Help Center</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Submit a Dispute </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">For Suppliers </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="#" class="nav-link"> Multi Request </a>
                        </li>
                        <li class="nav-item">
                            <a href="http://bootstrap-ecommerce.com/" class="nav-link"> Download </a>
                        </li>

                    </ul>
                    <!-- navbar-nav.// -->
                </div>
                <!-- collapse.// -->
            </div>
        </nav>

        <section class="header-main shadow-sm">
            <div class="container">
                <div class="row-sm align-items-center">
                    <div class="col-lg-4-24 col-sm-3">
                        <div class="category-wrap dropdown py-1">
                            <button type="button" class="btn btn-light  dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bars"></i> Categories</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'product:product-view' %}">Machinery / Mechanical Parts / Tools </a>
                                <a class="dropdown-item" href="{% url 'product:product-view' %}">Consumer Electronics / Home Appliances </a>
                                <a class="dropdown-item" href="{% url 'product:product-view' %}">Auto / Transportation</a>
                                <a class="dropdown-item" href="{% url 'product:product-view' %}">Apparel / Textiles / Timepieces </a>
                                <a class="dropdown-item" href="{% url 'product:product-view' %}">Home & Garden / Construction / Lights </a>
                                <a class="dropdown-item" href="{% url 'product:product-view' %}">Beauty & Personal Care / Health </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-11-24 col-sm-8">
                        {% include 'search/snippet/search_form.html' %}
                    </div>
                    <!-- col.// -->

                    <div class="col-lg-9-24 col-sm-12">
                        <div class="widgets-wrap float-right row no-gutters py-1">
                            {% if user.is_authenticated %}
                            <div class="col-auto">
                                <div class="widget-header dropdown">
                                    <a href="#" data-toggle="dropdown" data-offset="20,10">
                                        <div class="icontext">
                                            <div class="icon-wrap">
                                                <i class="text-warning icon-sm fa fa-user"></i>
                                            </div>
                                            <div class="text-wrap text-dark">
                                                Hi
                                                <br> {{request.user.first_name}}
                                                <i class="fa fa-caret-down"></i>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu">
                                        <li>
                                            <a href="{% url 'main:customer_profile' %}">My Profile</a>
                                        </li>
                                        <li>
                                            <a href="#">My orders</a>
                                        </li>
                                        <li>
                                            <a href="#">Request List</a>
                                        </li>
                                        <li role="separator" class="divider"></li>
                                        <!-- <li class="dropdown-header">Nav header</li> -->
                                        <li>
                                            <a href="{% url 'main:change_password' %}">Change Password</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'main:logout' %}">Logout</a>
                                        </li>

                                    </div>
                                    <!--  dropdown-menu .// -->
                                </div>
                                <!-- widget-header .// -->
                            </div>
                            <!-- col.// -->
                            {% else %}
                            <div class="col-auto">
                                <div class="widget-header dropdown">
                                    <a href="#" data-toggle="dropdown" data-offset="20,10">
                                        <div class="icontext">
                                            <div class="icon-wrap">
                                                <i class="text-warning icon-sm fa fa-user"></i>
                                            </div>
                                            <div class="text-wrap text-dark">
                                                Sign in
                                                <br> My account
                                                <i class="fa fa-caret-down"></i>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu">
                                        <li>
                                            <a href="{% url 'main:login' %}">Sign In</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'main:register' %}">New Account?</a>
                                        </li>

                                        <li role="separator" class="divider"></li>
                                        <!-- <li class="dropdown-header">Nav header</li> -->
                                        <li>
                                            <a href="{% url 'main:password_reset' %}">Reset Password</a>
                                        </li>

                                    </div>
                                    <!--  dropdown-menu .// -->
                                </div>
                                <!-- widget-header .// -->
                            </div>
                            <!-- col.// -->
                            {% endif %}


                            <div class="col-auto">
                                <a href="{% url 'cart:home' %}" class="widget-header">
                                    <div class="icontext">
                                        <div class="icon-wrap">
                                            <i class="text-warning icon-sm fa fa-shopping-cart"></i>
                                        </div>
                                        <div class="text-wrap text-dark navbar-cart-count">
                                            {{ request.session.cart_items }} Order
                                            <br>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- col.// -->
                            <div class="col-auto">
                                <a href="#" class="widget-header">
                                    <div class="icontext">
                                        <div class="icon-wrap">
                                            <i class="text-warning icon-sm  fa fa-heart"></i>
                                        </div>
                                        <div class="text-wrap text-dark">
                                            <span class="small round badge badge-secondary">0</span>
                                            <div>Favorites</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- col.// -->
                        </div>
                        <!-- widgets-wrap.// row.// -->
                    </div>
                    <!-- col.// -->
                </div>
                <!-- row.// -->
            </div>
            <!-- container.// -->
        </section>
        <!-- header-main .// -->
    </header>
    <!-- section-header.// -->

    <div class="container">
        {% if messages %}
        <div class="alert alert-success messages">
            {% for message in messages %}
            <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                {{ message }}<br/>
            </span>
            {% endfor %}
        </div>
        {% endif %}
    </div>


    <div>
        {% block content %} 
        {% endblock %}
    </div>

    <!-- ========================= SECTION SUBSCRIBE ========================= -->
    <section class="section-subscribe bg-secondary padding-y-lg">
        <div class="container">

            <p class="pb-2 text-center white">Delivering the latest product trends and industry news straight to your inbox</p>

            <div class="row justify-content-md-center">
                <div class="col-lg-4 col-sm-6">
                    <form class="row-sm form-noborder">
                        <div class="col-8">
                            <input class="form-control" placeholder="Your Email" type="email">
                        </div>
                        <!-- col.// -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-block btn-warning">
                                <i class="fa fa-envelope"></i> Subscribe </button>
                        </div>
                        <!-- col.// -->
                    </form>
                    <small class="form-text text-white-50">We’ll never share your email address with a third-party. </small>
                </div>
                <!-- col-md-6.// -->
            </div>


        </div>
        <!-- container // -->
    </section>
    <!-- ========================= SECTION SUBSCRIBE END.//========================= -->

    <!-- ========================= FOOTER ========================= -->
    <footer class="section-footer bg-secondary">
        <div class="container">
            <section class="footer-top padding-top">
                <div class="row">
                    <aside class="col-sm-3 col-md-3 white">
                        <h5 class="title">Customer Services</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">Help center</a>
                            </li>
                            <li>
                                <a href="#">Money refund</a>
                            </li>
                            <li>
                                <a href="#">Terms and Policy</a>
                            </li>
                            <li>
                                <a href="#">Open dispute</a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="col-sm-3  col-md-3 white">
                        <h5 class="title">My Account</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#"> User Login </a>
                            </li>
                            <li>
                                <a href="#"> User register </a>
                            </li>
                            <li>
                                <a href="#"> Account Setting </a>
                            </li>
                            <li>
                                <a href="#"> My Orders </a>
                            </li>
                            <li>
                                <a href="#"> My Wishlist </a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="col-sm-3  col-md-3 white">
                        <h5 class="title">About</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#"> Our history </a>
                            </li>
                            <li>
                                <a href="#"> How to buy </a>
                            </li>
                            <li>
                                <a href="#"> Delivery and payment </a>
                            </li>
                            <li>
                                <a href="#"> Advertice </a>
                            </li>
                            <li>
                                <a href="#"> Partnership </a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="col-sm-3">
                        <article class="white">
                            <h5 class="title">Contacts</h5>
                            <p>
                                <strong>Phone: </strong> +123456789
                                <br>
                                <strong>Fax:</strong> +123456789
                            </p>

                            <div class="btn-group white">
                                <a class="btn btn-facebook" title="Facebook" target="_blank" href="#">
                                    <i class="fab fa-facebook-f  fa-fw"></i>
                                </a>
                                <a class="btn btn-instagram" title="Instagram" target="_blank" href="#">
                                    <i class="fab fa-instagram  fa-fw"></i>
                                </a>
                                <a class="btn btn-youtube" title="Youtube" target="_blank" href="#">
                                    <i class="fab fa-youtube  fa-fw"></i>
                                </a>
                                <a class="btn btn-twitter" title="Twitter" target="_blank" href="#">
                                    <i class="fab fa-twitter  fa-fw"></i>
                                </a>
                            </div>
                        </article>
                    </aside>
                </div>
                <!-- row.// -->
                <br>
            </section>
            <section class="footer-bottom row border-top-white">
                <div class="col-sm-6">
                    <p class="text-white-50"> Made with
                        <3 <br> by Vosidiy M.</p>
                </div>
                <div class="col-sm-6">
                    <p class="text-md-right text-white-50">
                        Copyright &copy
                        <br>
                        <a href="http://bootstrap-ecommerce.com" class="text-white-50">Bootstrap-ecommerce UI kit</a>
                    </p>
                </div>
            </section>
            <!-- //footer-top -->
        </div>
        <!-- //container -->
    </footer>
    <!-- ========================= FOOTER END // ========================= -->





</body>


</html>