<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <title>ZeeMart</title>


    {% load staticfiles %} {% load static %}

    {% include 'base/css.html' %}
    
    {% include 'base/js.html' %}

    {% block style %}{% endblock %}

    
    


</head>


<body>

    {% url 'product:product-view' as product_url %}
    <header class="section-header">
        <nav class="navbar navbar-top navbar-expand-lg navbar-dark bg-secondary">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTop">
                    <ul class="navbar-nav mr-auto">
    
    
                    </ul>
                    <ul class="navbar-nav">
                        <li><a href="#" class="nav-link"> My Account </a></li>
                        <li><a href="#" class="nav-link"> Wishlist </a></li>
                        <li><a href="#" class="nav-link"> Checkout </a></li>
                    </ul> <!-- list-inline //  -->
                </div> <!-- navbar-collapse .// -->
            </div> <!-- container //  -->
        </nav>
    
        <section class="header-main shadow-sm">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-2 col-sm-5">
                    <a class="d-flex justify-content-md-center" href="/">
                        <div class="brand-wrap">
                            <img class="logo" src="images/logo-dark.png">
                            <h2 class="logo-text">LOGO</h2>
                        </div> <!-- brand-wrap.// -->
                    </a>
                        
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-8 col-8">
                       
                        {% include 'search/snippet/search_form.html' %}
                    </div> <!-- col.// -->
                    <div class="col-lg-3 col-sm-4 col-md-3 col-4">
                        <div class="d-flex justify-content-md-center">


                            <a href="{% url 'cart:home' %}" class="widget-header">
                                    <div class="icontext">
                                        <div class="icon-wrap icon-sm round border"><i class="fa fa-shopping-cart"></i></div>
                                    </div>
                                
                                <span  class="badge badge-pill badge-danger notify navbar-cart-count"> 
                                    {% if request.session.cart_items > 0 %}
                                        {{ request.session.cart_items }}
                                    {% else %}
                                        0
                                    {% endif %}
                                </span>
                                
                                
                            </a>
    
                            
    
                            <div class="widget-header border-left pl-3 ml-3">
    
                        
                                    {% if user.is_authenticated %}
                                    
                                        <div class="title text-muted icon-wrap dropdown">
                                            
                                              Hi {{request.user.first_name}}!
                            
                                            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                                                
                                                <div class="dropdown-menu" aria-labelledby="dropdown07">
                                                <a class="dropdown-item" href="{% url 'main:customer_profile' %}">My Profile</a>
                                                <a class="dropdown-item" href="#">My orders</a>
                                                
                                                <a class="dropdown-item" href="#">Request List</a>
                                                <div role="separator" class="divider"></div>
                                                <a class="dropdown-item" href="{% url 'main:change_password' %}">Change Password</a>
                                                <a class="dropdown-item" href="{% url 'main:logout' %}">Logout</a>
                                                </div>
                                            
                                           
                                        </div>
                                    </a>
        
                                        <!-- <div> <a href="#">Profile</a> <span class="dark-transp"> | </span>
                                            <a href="#"> Logout</a>
                                        
                                        </div> -->
                                    {% else %}
                                        <small class="title text-muted">Welcome guest!</small>
                                        <div> <a href="{% url 'main:login' %}">Sign in</a> <span class="dark-transp"> | </span>
                                            <a href="{% url 'main:register' %}"> Register</a></div>
                                    {% endif %}
    
                            </div>

                           
    
    
                        </div>
                    </div> <!-- col.// -->
                </div> <!-- row.// -->
            </div> <!-- container.// -->
        </section> <!-- header-main .// -->
    </header> <!-- section-header.// -->

    <div class="container">
        {% if messages %}
        <div class="alert alert-success messages">
            {% for message in messages %}
            <span>{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                {{ message }}<br/>
            </span>
            {% endfor %}
        </div>
        {% endif %}
    </div>


    <div>
        {% block content %} 
        {% endblock %}
    </div>

    <!-- ========================= SECTION SUBSCRIBE ========================= -->
    <section class="section-subscribe bg-secondary padding-y-lg">
        <div class="container">

            <p class="pb-2 text-center white">Delivering the latest product trends and industry news straight to your inbox</p>

            <div class="row justify-content-md-center">
                <div class="col-lg-4 col-sm-6">
                    <form class="row-sm form-noborder">
                        <div class="col-8">
                            <input class="form-control" placeholder="Your Email" type="email">
                        </div>
                        <!-- col.// -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-block btn-warning">
                                <i class="fa fa-envelope"></i> Subscribe </button>
                        </div>
                        <!-- col.// -->
                    </form>
                    <small class="form-text text-white-50">We’ll never share your email address with a third-party. </small>
                </div>
                <!-- col-md-6.// -->
            </div>


        </div>
        <!-- container // -->
    </section>
    <!-- ========================= SECTION SUBSCRIBE END.//========================= -->

    <!-- ========================= FOOTER ========================= -->
    <footer class="section-footer bg-secondary">
        <div class="container">
            <section class="footer-top padding-top">
                <div class="row">
                    <aside class="col-sm-3 col-md-3 white">
                        <h5 class="title">Customer Services</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">Help center</a>
                            </li>
                            <li>
                                <a href="#">Money refund</a>
                            </li>
                            <li>
                                <a href="#">Terms and Policy</a>
                            </li>
                            <li>
                                <a href="#">Open dispute</a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="col-sm-3  col-md-3 white">
                        <h5 class="title">My Account</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#"> User Login </a>
                            </li>
                            <li>
                                <a href="#"> User register </a>
                            </li>
                            <li>
                                <a href="#"> Account Setting </a>
                            </li>
                            <li>
                                <a href="#"> My Orders </a>
                            </li>
                            <li>
                                <a href="#"> My Wishlist </a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="col-sm-3  col-md-3 white">
                        <h5 class="title">About</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#"> Our history </a>
                            </li>
                            <li>
                                <a href="#"> How to buy </a>
                            </li>
                            <li>
                                <a href="#"> Delivery and payment </a>
                            </li>
                            <li>
                                <a href="#"> Advertice </a>
                            </li>
                            <li>
                                <a href="#"> Partnership </a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="col-sm-3">
                        <article class="white">
                            <h5 class="title">Contacts</h5>
                            <p>
                                <strong>Phone: </strong> +123456789
                                <br>
                                <strong>Fax:</strong> +123456789
                            </p>

                            <div class="btn-group white">
                                <a class="btn btn-facebook" title="Facebook" target="_blank" href="#">
                                    <i class="fab fa-facebook-f  fa-fw"></i>
                                </a>
                                <a class="btn btn-instagram" title="Instagram" target="_blank" href="#">
                                    <i class="fab fa-instagram  fa-fw"></i>
                                </a>
                                <a class="btn btn-youtube" title="Youtube" target="_blank" href="#">
                                    <i class="fab fa-youtube  fa-fw"></i>
                                </a>
                                <a class="btn btn-twitter" title="Twitter" target="_blank" href="#">
                                    <i class="fab fa-twitter  fa-fw"></i>
                                </a>
                            </div>
                        </article>
                    </aside>
                </div>
                <!-- row.// -->
                <br>
            </section>
            <section class="footer-bottom row border-top-white">
                <div class="col-sm-6">
                    <p class="text-white-50"> Made with
                        <br> by Vosidiy M.</p>
                </div>
                <div class="col-sm-6">
                    <p class="text-md-right text-white-50">
                        Copyright &copy
                        <br>
                        <a href="http://bootstrap-ecommerce.com" class="text-white-50">Bootstrap-ecommerce UI kit</a>
                    </p>
                </div>
            </section>
            <!-- //footer-top -->
        </div>
        <!-- //container -->
    </footer>
    <!-- ========================= FOOTER END // ========================= -->





</body>


</html>