{% extends "base.html" %}

 {% load staticfiles %}
 {% load crispy_forms_tags %}

    {% block style %}
        <link href='{% static "css/register.css" %}' rel="stylesheet">
    {% endblock %}


    {% block content %}   

    <div class="container">
   

        <div class="row">

       
                <div class="card col-lg-4 col-md-6 col-sm-8 col-10 mx-auto" id="card">
                    <article class="card-body">
                   
                    <h4 class="card-title mb-4 mt-1">Change Password</h4>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }} 
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Update Password  </button>
                        </div> <!-- form-group// -->                                                           
                    </form>
                    </article>
                </div> <!-- card.// -->
    
            
    
    
        </div>
    </div>
    {% endblock %}