{% extends "base.html" %} 
{% load staticfiles %} {% block content %}
{% block style %}
    <link href='{% static "css/index.css" %}' rel="stylesheet">
{% endblock %}

<div class="container" id="hometext">
    <!-- ========================= SECTION MAIN ========================= -->
    <section class="section-main bg padding-y-sm">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row row-sm">
                        <aside class="col-md-2">
                            <h5 class="text-uppercase">Category</h5>
                            <ul class="menu-category list-dots" id="pauser">
                                           

                            {% if category %}
                                {% for item in category %}
                                    <li class="dropdown">
                                        <a class="get-subcategory" href="{{ item.get_category_url }}">{{ item.title }}</a>

                                        <div class="dropdown-content" id="category_list" >
                                            <div class="row" >
                                                <div class="col-md-9">
                                                        <ul>
                                                                {% if subcategory %}
                                                                
                                                                    {% for sub in subcategory %}
                                                                        {% if item == sub.category %}
                                                                            
                                                                        
                                                                            <li id="subcategory_list">
                                                                                <a href="{{ sub.get_subcategory_url }}">{{ sub.title }}</a>    
                                                                                
                                                                                    <ul class="list-group list-group-flush">
                                                                                       
                                                                                        {% if subsubcategory %}
                                                                                            {% for subsub in subsubcategory %}
                                                                                                {% if item == sub.category and sub == subsub.subcategory %}
                                                                                                    <li class="list-group-item list-group-item-light py-0"> 
                                                                                                        <a href="{{ subsub.get_subsubcategory_url }}">{{ subsub.title }}</a>
                                                                                                    </li>
                                                                                                {% endif %}
                                                                                            {% endfor %}
                                                                                        {% endif %}
                                                                                    </ul>

                                                                                
                                                                            </li>
                                                                              
                                                                       
                                                                        
                
                                                                        {% endif %}
                                                                
                                                                    {% endfor %}
                                                              
                                                                
                                                                {% endif %}
                                                        </ul>
                                                </div>
                                                <div class="col-md-3">
                                                    {% if item.image %}
                                                        <div class="card-banner">
                                                            <div class="card-body" style="height:250px; background-image: url('{{ item.image.url }}');"> </div>
                                                            
                                                        </div> <!-- card.// -->
                                                    {% endif %}
      

                                                </div>

                                            </div>
                                            
                                            
                                        </div>
                                    </li>
                                {% endfor %}
                            {% endif %}

                               
                                
                                
                            </ul>

                        </aside>
                        <!-- col.// -->
                        <div class="col-md-8">
                                

                            <div id="slideshow" class="cycle-slideshow"

                                data-cycle-fx="fade"
                                data-cycle-manual-fx="scrollHorz"
                                data-cycle-speed="400"
                                data-cycle-timeout="1000"
                                data-cycle-next="#next"
                                data-cycle-pause-on-hover="#pauser"
                                data-cycle-prev="#prev">
                                <img src="{% static 'images/banners/banner1.jpg' %}">
                                <img src="{% static 'images/banners/banner2.jpg' %}">
                                <img src="{% static 'images/banners/banner3.jpg' %}">
                                <img src="{% static 'images/banners/banner4.jpg' %}">
                                <img src="{% static 'images/banners/banner5.jpg' %}">
                                <img src="{% static 'images/banners/banner6.jpg' %}">
                            </div>
                        </div>
                        <!-- col.// -->
                        <aside class="col-md-2">

                            <h6 class="title-bg bg-secondary"> Quick Shopping</h6>
                            <div style="height:280px;">
                                <a href="#">
                                    <div class="card-banner" style="height:110px; background-image: url('static/images/banners/bottom1.jpg');border-radius:0;">
                                                <!-- <article class="overlay top text-center">
                                                    <h5 class="title mb-0">Some text for title</h5>
                                                </article> -->
                                    </div> <!-- card.// -->
                                </a>
                                <a href="#">
                                    <div class="card-banner" style="height:110px; background-image: url('static/images/banners/b7.jpg'); border-radius:0;">
                                    
                                        <!-- <article class="overlay top text-center">
                                            <h5 class="title mb-0">Some text for title</h5>
                                        </article> -->
                                    </div> <!-- card.// -->
                                </a>
                                <a href="#">
                                    <div class="card-banner" style="height:110px; background-image: url('static/images/banners/b6.jpg');border-radius:0;">
                                        <!-- <article class="overlay top text-center">
                                            <h5 class="title mb-0">Some text for title</h5>
                                        </article> -->
                                    </div> <!-- card.// -->
                                </a>
                                
                            </div>

                        </aside>
                    </div>
                    <!-- row.// -->
                </div>
                <!-- card-body .// -->
            </div>
            <!-- card.// -->

            <!-- <figure class="mt-3 banner p-3 bg-secondary">
                <div class="text-lg text-center white">Useful banner can be here</div>
            </figure> -->

        </div>
        <!-- container .//  -->
    </section>
    <!-- ========================= SECTION MAIN END// ========================= -->

    
   

    <!-- ========================= SECTION CONTENT ========================= -->
    {% include 'main/category_sections.html' %}
   
    <!-- ========================= SECTION CONTENT END// ========================= -->

  

    <!-- ========================= SECTION REQUEST ========================= -->
    <section class="section-request bg padding-y-sm">
        <div class="container">
            <header class="section-heading heading-line">
                <h4 class="title-section bg text-uppercase">Request for Quotation</h4>
            </header>

            <div class="row">
                <div class="col-md-8">
                    <figure class="card-banner banner-size-lg">
                        <figcaption class="overlay left">
                            <br>
                            <h2 style="max-width: 300px;">Big boundle or collection of featured items</h2>
                            <br>
                            <a class="btn btn-primary" href="#">Detail info » </a>
                        </figcaption>
                        <img src="{% static 'images/banners/banner-request.jpg' %}">
                    </figure>
                </div>
                <!-- col // -->
                <div class="col-md-4">

                    <div class="card card-body">
                        <h5 class="title py-4">One Request, Multiple Quotes.</h5>
                        <form>
                            <div class="form-group">
                                <input class="form-control" name="" type="text">
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control" name="" type="text">
                                    <span class="input-group-btn" style="border:0; width: 0;"></span>
                                    <select class="form-control">
                                        <option>Pieces</option>
                                        <option>Litres</option>
                                        <option>Tons</option>
                                        <option>Gramms</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group text-muted">
                                <p>Select template type:</p>
                                <label class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" value="option1">
                                    <span class="form-check-label">Request price</span>
                                </label>
                                <label class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" value="option2">
                                    <span class="form-check-label">Request a sample</span>
                                </label>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary">Request for quote</button>
                            </div>
                        </form>
                    </div>

                </div>
                <!-- col // -->
            </div>
            <!-- row // -->

        </div>
        <!-- container // -->
    </section>
    <!-- ========================= SECTION REQUEST .END// ========================= -->

    <!-- ========================= SECTION ITEMS ========================= -->
    <section class="section-request bg padding-y-sm">
        <div class="container">
            <header class="section-heading heading-line">
                <h4 class="title-section bg text-uppercase">Recommended items</h4>
            </header>

            <div class="row-sm">
                {% if featured_product %}

                    {% for featured in featured_product %}
                    
                        {% include 'main/snippet/featured_product_card.html' with instance=featured %}

                    {% endfor %}
                {% endif %}
                <!-- col // -->
            </div>
            <!-- row.// -->


        </div>
        <!-- container // -->
    </section>
    <!-- ========================= SECTION ITEMS .END// ========================= -->

    <!-- ========================= SECTION LINKS ========================= -->
   
    <!-- ========================= SECTION LINKS END.// ========================= -->


</div>
{% endblock %}