{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block style %}
    <link href='{% static "css/login.css" %}' rel="stylesheet">
{% endblock %}


{% block content %}   


<div class="container">


    <div class="row">

       
            <div class="card col-4 mx-auto" id="card">
                <article class="card-body">
                <a href="{% url 'main:register' %}" class="float-right btn btn-outline-primary">Sign up</a>
                <h4 class="card-title mb-4 mt-1">Sign in</h4>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }} 
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Login  </button>
                    </div> <!-- form-group// -->                                                           
                </form>

                <a href="{% url 'main:password_reset' %}"><small >Forgot Password? </small></a>
                </article>
            </div> <!-- card.// -->

        


    </div>
        
        
   

   
</div>

 

{% endblock %}   