{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% block style %}
    <link href='{% static "css/product_category_detailview.css" %}' rel="stylesheet">
{% endblock %}


   {% block content %}

 
    {% if sub_category_product %}

   

        <section class="section-content bg padding-y">
                <div class="container">

                    <div class="row">
                        <aside class="col-sm-3">

                                <div class="card card-filter">
                                        <article class="card-group-item">
                                            <header class="card-header">
                                                <a class="" aria-expanded="true" href="#" data-toggle="collapse" data-target="#collapse22">
                                                    <i class="icon-action fa fa-chevron-down"></i>
                                                    {% if sub_name %}
                                                        {% for sub_name in sub_name %}
                                                            <h6 class="title">{{ sub_name.title }} </h6>
                                                        {% endfor %}
                                                    {% endif %}
                                                </a>
                                            </header>
                                            <div style="" class="filter-content collapse show" id="collapse22">
                                                <div class="card-body">
                                                
                                                    {% if subcategory_name %}
                                                        <ul class="list-unstyled list-lg">
                                                            {% for sub_category in subcategory_name %}
                                                                <li><a href="{{ sub_category.get_subsubcategory_url }}">{{ sub_category.title }} 
                                                                    <!-- <span class="float-right badge badge-light round">142</span> -->
                                                                </a></li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                </div> <!-- card-body.// -->
                                            </div> <!-- collapse .// -->
                                        </article> <!-- card-group-item.// -->
                                        
                                        <article class="card-group-item">
                                            <header class="card-header">
                                                <a href="#" data-toggle="collapse" data-target="#collapse44">
                                                    <i class="icon-action fa fa-chevron-down"></i>
                                                    <h6 class="title">By Feature </h6>
                                                </a>
                                            </header>
                                            <div class="filter-content collapse show" id="collapse44">
                                                <div class="card-body">
                                                    <form>
                                                        <label class="form-check">
                                                            <!-- <input class="form-check-input" value="" type="checkbox">
                                                            <span class="form-check-label">
                                                                <span class="float-right badge badge-light round">5</span>
                                                                Samsung
                                                            </span> -->
                                                        </label> <!-- form-check.// -->
                                                        <!-- <label class="form-check">
                                                            <input class="form-check-input" value="" type="checkbox">
                                                            <span class="form-check-label">
                                                                <span class="float-right badge badge-light round">13</span>
                                                                Mersedes Benz
                                                            </span>
                                                        </label> form-check.// -->
                                                        
                                                        <!-- form-check.// -->
                                                    </form>
                                                </div> <!-- card-body.// -->
                                            </div> <!-- collapse .// -->
                                        </article> <!-- card-group-item.// -->
                                
                                        <article class="card-group-item">
                                                <header class="card-header">
                                                    <a href="#" data-toggle="collapse" data-target="#collapse33">
                                                        <i class="icon-action fa fa-chevron-down"></i>
                                                        <h6 class="title">By Price </h6>
                                                    </a>
                                                </header>
                                                <div class="filter-content collapse show" id="collapse33">
                                                    <div class="card-body">
                                                        <input type="range" class="custom-range" min="0" max="100" name="">
                                                        <div class="form-row">
                                                            <div class="form-group col-md-6">
                                                                <label>Min</label>
                                                                <input class="form-control" placeholder="₦0" type="number">
                                                            </div>
                                                            <div class="form-group text-right col-md-6">
                                                                <label>Max</label>
                                                                <input class="form-control" placeholder="₦100,0000" type="number">
                                                            </div>
                                                        </div> <!-- form-row.// -->
                                                        <button class="btn btn-block btn-outline-primary">Apply</button>
                                                    </div> <!-- card-body.// -->
                                                </div> <!-- collapse .// -->
                                            </article> <!-- card-group-item.// -->
                                    </div> <!-- card.// -->


                        </aside> <!-- col.// -->
                        <main class="col-sm-9">

                            <div class="row-sm">
                                    
                                {% for product in sub_category_product %}
                                    {% include 'products/snippet/card.html' with instance=product %}
                                {% endfor %}
                                    
                                    
                            </div>
                                
                            <br>
                            {% include 'products/snippet/paginator.html' with paginate=sub_category_product %}
                          
                        
                        </main> <!-- col.// -->
                    </div>

                </div> <!-- container .//  -->
            </section>
    {% else %}
        {% include 'products/snippet/error.html' %}
    {% endif %}
        
    {% endblock %}

