{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}


   {% block content %}

        <div class="container">

            
                <div class="row">
                    
                    {% for obj in object_list %}
                        <div class="col-md-4">
                            {{ forloop.counter }}
                                {% include 'products/snippet/card.html' with instance=obj %}
                                {% if forloop.counter|divisibleby:3 %}
                            </div> </div><div class='row'><div class='col-12'><hr/></div>
                           {% elif forloop.counter|divisibleby:2 %}
                               </div> </div><div class='row'><div class='col-12'><hr/></div>
                           {% else %}
                              
                           {% endif %}
                        </div>

                    {% endfor %}
                  

                </div>
            

               
        </div>

        
    {% endblock %}